# Now that all necessary data have now been extracted, transformed, dumped to parquet files in a lake (AWS S3) and then loaded into a DWH (DuckDB/Motherduck) we can start doing our/ analyses and do further transformations and draw insights through querying

In [1]:
import duckdb
import os

from dotenv import load_dotenv
from pathlib import Path
from duckdb.typing import *

%load_ext autoreload
%autoreload 2

# Local connection

In [2]:
# # C:\Users\LARRY\Documents\Scripts\data-engineering-path\chronic-disease-analyses\chronic_disease_analyses_db.db
# conn = duckdb.connect("chronic_disease_analyses_db.db")

# remote connection

In [3]:
# Build paths inside the project like this: BASE_DIR / 'subdir'.
# use this only in development
print("loading env variables...")
env_dir = Path('./').resolve()
load_dotenv(os.path.join(env_dir, '.env'))
print("env variables loaded.\n")

loading env variables...
env variables loaded.

In [4]:
# jdbc:duckdb:md:chronic_disease_analyses_db
# duckdb:///md:chronic_disease_analyses_db
print("connecting to duckdb...")
conn = duckdb.connect(f"md:chronic_disease_analyses_db?motherduck_token={os.environ['MOTHERDUCK_TOKEN']}")
print("connected to duckdb.\n")

connecting to duckdb...
connected to duckdb.

In [5]:
tables = [
    table
    for table_tuple in conn.sql("""SHOW TABLES""").fetchall()
    for table in table_tuple 
]
tables

['CDI',
 'CDILocation',
 'CDIStratification',
 'DataValueType',
 'Population',
 'PopulationState',
 'PopulationStratification',
 'Question',
 'Stratification']

In [ ]:
for table in tables:
    count = conn.sql(f"""SELECT COUNT(*) FROM {table}""").fetchall()[0][0]
    print(f"table {table} count: {count}")

678471
51
11
15
2947392
51
28
192
39

In [7]:
conn.sql("""
    SELECT * FROM CDILocation
""")

┌────────────┬────────────────┬─────────────────────┬────────────────────┐
│ LocationID │  LocationDesc  │      Latitude       │     Longitude      │
│  varchar   │    varchar     │       double        │       double       │
├────────────┼────────────────┼─────────────────────┼────────────────────┤
│ NM         │ New Mexico     │ -106.24058098499967 │  34.52088095200048 │
│ OK         │ Oklahoma       │  -97.52107021399968 │  35.47203135600046 │
│ GA         │ Georgia        │  -83.62758034599966 │  32.83968109300048 │
│ KY         │ Kentucky       │  -84.77497104799966 │ 37.645970271000465 │
│ ND         │ North Dakota   │ -100.11842104899966 │  47.47531977900047 │
│ WY         │ Wyoming        │ -108.10983035299967 │  43.23554134300048 │
│ TN         │ Tennessee      │  -85.77449091399967 │  35.68094058000048 │
│ LA         │ Louisiana      │  -92.44568007099969 │  31.31266064400046 │
│ NE         │ Nebraska       │  -99.36572062299967 │   41.6410409880005 │
│ AK         │ Alaska         │ -147.72205903599973 │  64.84507995700051 │
│ ·          │   ·            │          ·          │          ·         │
│ ·          │   ·            │          ·          │          ·         │
│ ·          │   ·            │          ·          │          ·         │
│ AZ         │ Arizona        │ -111.76381127699972 │ 34.865970280000454 │
│ IN         │ Indiana        │  -86.14996019399968 │ 39.766910452000445 │
│ MN         │ Minnesota      │  -94.79420050299967 │  46.35564873600049 │
│ HI         │ Hawaii         │ -157.85774940299973 │ 21.304850435000446 │
│ NH         │ New Hampshire  │  -71.50036091999965 │  43.65595011300047 │
│ AR         │ Arkansas       │  -92.27449074299966 │  34.74865012400045 │
│ NY         │ New York       │  -75.54397042699964 │  42.82700103200045 │
│ SC         │ South Carolina │  -81.04537120699968 │ 33.998821303000454 │
│ CT         │ Connecticut    │  -72.64984095199964 │  41.56266102000046 │
│ CO         │ Colorado       │ -106.13361092099967 │ 38.843840757000464 │
├────────────┴────────────────┴─────────────────────┴────────────────────┤
│ 51 rows (20 shown)                                           4 columns │
└────────────────────────────────────────────────────────────────────────┘

In [8]:
conn.sql("""
    SELECT * FROM CDIStratification
""")

┌─────────┬─────────────┬──────────────┬──────────────────┐
│   Sex   │  Ethnicity  │    Origin    │ StratificationID │
│ varchar │   varchar   │   varchar    │     varchar      │
├─────────┼─────────────┼──────────────┼──────────────────┤
│ Male    │ All         │ Both         │ B_M_ALL          │
│ Both    │ White       │ Not Hispanic │ NH_B_WHITE       │
│ Both    │ Black       │ Not Hispanic │ NH_B_BLACK       │
│ Both    │ AIAN        │ Not Hispanic │ NH_B_AIAN        │
│ Both    │ Multiracial │ Not Hispanic │ NH_B_MULTI       │
│ Both    │ NHPI        │ Not Hispanic │ NH_B_NHPI        │
│ Both    │ Other       │ Not Hispanic │ NH_B_OTHER       │
│ Female  │ All         │ Both         │ B_F_ALL          │
│ Both    │ All         │ Hispanic     │ H_B_ALL          │
│ Both    │ All         │ Both         │ B_B_ALL          │
│ Both    │ Asian       │ Not Hispanic │ NH_B_ASIAN       │
├─────────┴─────────────┴──────────────┴──────────────────┤
│ 11 rows                                       4 columns │
└─────────────────────────────────────────────────────────┘

In [9]:
conn.sql("""
    SELECT * FROM DataValueType
""")

┌───────────────────┬──────────────────────────────────────────┐
│  DataValueTypeID  │              DataValueType               │
│      varchar      │                 varchar                  │
├───────────────────┼──────────────────────────────────────────┤
│ MEDIAN            │ Median                                   │
│ NMBR              │ Number                                   │
│ AGEADJRATE        │ Age-adjusted Rate                        │
│ PERCAPALC         │ Per capita alcohol consumption           │
│ USD               │ US Dollars                               │
│ AGEADJMEAN        │ Age-adjusted Mean                        │
│ PREV              │ Prevalence                               │
│ MEAN              │ Mean                                     │
│ AVGANNCRDRATE     │ Average Annual Crude Rate                │
│ CRDRATE           │ Crude Rate                               │
│ AGEADJPREV        │ Age-adjusted Prevalence                  │
│ AVGANNAGEADJRATE  │ Average Annual Age-adjusted Rate         │
│ PRCT              │ Percent                                  │
│ CRDPREV           │ Crude Prevalence                         │
│ AGESEXRACEADJRATE │ Adjusted by age, sex, race and ethnicity │
├───────────────────┴──────────────────────────────────────────┤
│ 15 rows                                            2 columns │
└──────────────────────────────────────────────────────────────┘

In [10]:
conn.sql("""
    SELECT * FROM Question
""")

┌────────────┬─────────┬──────────────────────────────────────────────────────────────────────────────────────────────────────────────┬─────────────────────────────────────────────────┬──────────┬────────┐
│ QuestionID │ TopicID │                                                   Question                                                   │                      Topic                      │ AgeStart │ AgeEnd │
│  varchar   │ varchar │                                                   varchar                                                    │                     varchar                     │  double  │ double │
├────────────┼─────────┼──────────────────────────────────────────────────────────────────────────────────────────────────────────────┼─────────────────────────────────────────────────┼──────────┼────────┤
│ ART1_1     │ ART     │ Arthritis among adults aged >= 18 years                                                                      │ Arthritis                                       │     18.0 │    inf │
│ ALC4_0     │ ALC     │ Binge drinking intensity among adults aged >= 18 years who binge drink                                       │ Alcohol                                         │     18.0 │    inf │
│ NPAW2_3    │ NPAW    │ Overweight or obesity among women aged 18-44 years                                                           │ Nutrition, Physical Activity, and Weight Status │     18.0 │   44.0 │
│ DIA7_0     │ DIA     │ Dilated eye examination among adults aged >= 18 years with diagnosed diabetes                                │ Diabetes                                        │     18.0 │    inf │
│ ORH1_2     │ ORH     │ Dental visits among children and adolescents aged 1-17 years                                                 │ Oral Health                                     │      1.0 │   17.0 │
│ OLD3_1     │ OLD     │ Proportion of older adults aged >= 65 years who are up to date on a core set of clinical preventive services │ Older Adults                                    │     65.0 │    inf │
│ NPAW4_1    │ NPAW    │ Median daily frequency of fruit consumption among high school students                                       │ Nutrition, Physical Activity, and Weight Status │     14.0 │   18.0 │
│ OVC6_2     │ OVC     │ Self-rated health status among women aged 18-44 years                                                        │ Overarching Conditions                          │     18.0 │   44.0 │
│ DIA11_3    │ DIA     │ Prevalence of depressive disorders among adults aged >= 18 years with diagnosed diabetes                     │ Diabetes                                        │     18.0 │    inf │
│ OVC5_0     │ OVC     │ Premature mortality among adults aged 45-64 years                                                            │ Overarching Conditions                          │     45.0 │   64.0 │
│   ·        │  ·      │                         ·                                                                                    │           ·                                     │       ·  │     ·  │
│   ·        │  ·      │                         ·                                                                                    │           ·                                     │       ·  │     ·  │
│   ·        │  ·      │                         ·                                                                                    │           ·                                     │       ·  │     ·  │
│ NPAW16_0   │ NPAW    │ Receiving formula supplementation within the first 2 days of life among breastfed infants                    │ Nutrition, Physical Activity, and Weight Status │     NULL │   NULL │
│ RPH3_0     │ RPH     │ Folic acid supplementation                                                                                   │ Reproductive Health                             │     NULL │   NULL │
│ NPAW13_2   │ NPAW    │ Secondary schools that allow students to purchase soda or fruit drinks                                       │ Nutrition, Physical Activity, and Weight Status │     NULL │   NULL │
│ CAN6_2     │ CAN     │ Cancer of the female cervix, mortality                                                                       │ Cancer                                          │     NULL │   NULL │
│ NPAW7_1    │ NPAW    │ Farmers markets that accept Women and Infant Children (WIC) farmers market nutrition program coupons         │ Nutrition, Physical Activity, and Weight Status │     NULL │   NULL │
│ DIA3_2     │ DIA     │ Prevalence of gestational diabetes                                                                           │ Diabetes                                        │     NULL │   NULL │
│ CVD1_4     │ CVD     │ Mortality from heart failure                                                                                 │ Cardiovascular Disease                          │     NULL │   NULL │
│ COPD6_1    │ COPD    │ Emergency department visit rate for chronic obstructive pulmonary disease as first-listed diagnosis          │ Chronic Obstructive Pulmonary Disease           │     NULL │   NULL │
│ ORH2_2     │ ORH     │ Preventive dental care before pregnancy                                                                      │ Oral Health                                     │     NULL │   NULL │
│ CVD8_0     │ CVD     │ Pre-pregnancy hypertension                                                                                   │ Cardiovascular Disease                          │     NULL │   NULL │
├────────────┴─────────┴──────────────────────────────────────────────────────────────────────────────────────────────────────────────┴─────────────────────────────────────────────────┴──────────┴────────┤
│ 192 rows (20 shown)                                                                                                                                                                             6 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [11]:
conn.sql("""
    SELECT * FROM Population
""")

┌─────────┬───────┬──────────────────┬───────┬────────────┐
│ StateID │  Age  │ StratificationID │ Year  │ Population │
│ varchar │ float │     varchar      │ int32 │   int64    │
├─────────┼───────┼──────────────────┼───────┼────────────┤
│ AL      │   0.0 │ NH_M_WHITE       │  2000 │      19270 │
│ AL      │   0.0 │ NH_M_WHITE       │  2001 │      19612 │
│ AL      │   0.0 │ NH_M_WHITE       │  2002 │      18731 │
│ AL      │   0.0 │ NH_M_WHITE       │  2003 │      18623 │
│ AL      │   0.0 │ NH_M_WHITE       │  2004 │      18659 │
│ AL      │   0.0 │ NH_M_WHITE       │  2005 │      18816 │
│ AL      │   0.0 │ NH_M_WHITE       │  2006 │      18877 │
│ AL      │   0.0 │ NH_M_WHITE       │  2007 │      19027 │
│ AL      │   0.0 │ NH_M_WHITE       │  2008 │      18937 │
│ AL      │   0.0 │ NH_M_WHITE       │  2009 │      18039 │
│ ·       │    ·  │     ·            │    ·  │          · │
│ ·       │    ·  │     ·            │    ·  │          · │
│ ·       │    ·  │     ·            │    ·  │          · │
│ AL      │  53.0 │ H_M_MULTI        │  2000 │          3 │
│ AL      │  53.0 │ H_M_MULTI        │  2001 │          4 │
│ AL      │  53.0 │ H_M_MULTI        │  2002 │          9 │
│ AL      │  53.0 │ H_M_MULTI        │  2003 │          6 │
│ AL      │  53.0 │ H_M_MULTI        │  2004 │          9 │
│ AL      │  53.0 │ H_M_MULTI        │  2005 │          7 │
│ AL      │  53.0 │ H_M_MULTI        │  2006 │          8 │
│ AL      │  53.0 │ H_M_MULTI        │  2007 │          7 │
│ AL      │  53.0 │ H_M_MULTI        │  2008 │          8 │
│ AL      │  53.0 │ H_M_MULTI        │  2009 │         11 │
├─────────┴───────┴──────────────────┴───────┴────────────┤
│ ? rows (>9999 rows, 20 shown)                 5 columns │
└─────────────────────────────────────────────────────────┘

In [12]:
conn.sql("""
    SELECT * FROM PopulationState
""")

┌───────────────┬─────────┐
│     State     │ StateID │
│    varchar    │ varchar │
├───────────────┼─────────┤
│ Mississippi   │ MS      │
│ South Dakota  │ SD      │
│ Utah          │ UT      │
│ Kentucky      │ KY      │
│ California    │ CA      │
│ Nebraska      │ NE      │
│ New Hampshire │ NH      │
│ Delaware      │ DE      │
│ Minnesota     │ MN      │
│ Nevada        │ NV      │
│   ·           │ ·       │
│   ·           │ ·       │
│   ·           │ ·       │
│ Michigan      │ MI      │
│ Illinois      │ IL      │
│ Maryland      │ MD      │
│ Alaska        │ AK      │
│ Connecticut   │ CT      │
│ Vermont       │ VT      │
│ Massachusetts │ MA      │
│ Oklahoma      │ OK      │
│ West Virginia │ WV      │
│ Virginia      │ VA      │
├───────────────┴─────────┤
│   51 rows (20 shown)    │
└─────────────────────────┘

In [13]:
conn.sql("""
    SELECT * FROM PopulationStratification
""")

┌─────────┬─────────────┬──────────────┬──────────────────┐
│   Sex   │  Ethnicity  │    Origin    │ StratificationID │
│ varchar │   varchar   │   varchar    │     varchar      │
├─────────┼─────────────┼──────────────┼──────────────────┤
│ Male    │ Other       │ Not Hispanic │ NH_M_OTHER       │
│ Female  │ Black       │ Not Hispanic │ NH_F_BLACK       │
│ Female  │ Asian       │ Not Hispanic │ NH_F_ASIAN       │
│ Female  │ NHPI        │ Hispanic     │ H_F_NHPI         │
│ Male    │ Other       │ Hispanic     │ H_M_OTHER        │
│ Male    │ Asian       │ Not Hispanic │ NH_M_ASIAN       │
│ Male    │ White       │ Not Hispanic │ NH_M_WHITE       │
│ Male    │ AIAN        │ Not Hispanic │ NH_M_AIAN        │
│ Male    │ Multiracial │ Hispanic     │ H_M_MULTI        │
│ Male    │ Black       │ Not Hispanic │ NH_M_BLACK       │
│  ·      │   ·         │    ·         │     ·            │
│  ·      │   ·         │    ·         │     ·            │
│  ·      │   ·         │    ·         │     ·            │
│ Female  │ Multiracial │ Hispanic     │ H_F_MULTI        │
│ Female  │ White       │ Hispanic     │ H_F_WHITE        │
│ Female  │ AIAN        │ Hispanic     │ H_F_AIAN         │
│ Male    │ NHPI        │ Hispanic     │ H_M_NHPI         │
│ Female  │ Other       │ Hispanic     │ H_F_OTHER        │
│ Female  │ Multiracial │ Not Hispanic │ NH_F_MULTI       │
│ Female  │ Black       │ Hispanic     │ H_F_BLACK        │
│ Female  │ AIAN        │ Not Hispanic │ NH_F_AIAN        │
│ Male    │ White       │ Hispanic     │ H_M_WHITE        │
│ Female  │ Other       │ Not Hispanic │ NH_F_OTHER       │
├─────────┴─────────────┴──────────────┴──────────────────┤
│ 28 rows (20 shown)                            4 columns │
└─────────────────────────────────────────────────────────┘

In [14]:
conn.sql("""
    SELECT COUNT(*) 
    FROM PopulationState
    -- WHERE COLUMNS(*) IS NOT NULL
""")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│           51 │
└──────────────┘

In [15]:
conn.sql("""
    SELECT *
    FROM CDI
    ORDER BY LogID ASC
    LIMIT 10
""")

┌───────────┬─────────┬────────────┬───────────────┬───────────┬────────────────────┬─────────────────────┬────────────┬─────────────────┬──────────────────┬───────┐
│ YearStart │ YearEnd │ LocationID │ DataValueUnit │ DataValue │ LowConfidenceLimit │ HighConfidenceLimit │ QuestionID │ DataValueTypeID │ StratificationID │ LogID │
│   int32   │  int32  │  varchar   │    varchar    │  double   │       double       │       double        │  varchar   │     varchar     │     varchar      │ int32 │
├───────────┼─────────┼────────────┼───────────────┼───────────┼────────────────────┼─────────────────────┼────────────┼─────────────────┼──────────────────┼───────┤
│      2015 │    2015 │ IL         │ %             │      10.6 │                4.8 │                22.2 │ ALC1_1     │ CRDPREV         │ NH_B_ASIAN       │     1 │
│      2015 │    2015 │ RI         │ %             │      12.6 │                7.3 │                21.0 │ ALC1_1     │ CRDPREV         │ NH_B_ASIAN       │     2 │
│      2013 │    2013 │ MA         │ %             │      13.6 │                8.6 │                20.7 │ ALC1_1     │ CRDPREV         │ NH_B_ASIAN       │     3 │
│      2015 │    2015 │ FL         │ %             │      16.0 │               11.0 │                22.9 │ ALC1_1     │ CRDPREV         │ NH_B_ASIAN       │     4 │
│      2017 │    2017 │ SC         │ %             │      15.6 │               11.2 │                21.4 │ ALC1_1     │ CRDPREV         │ NH_B_BLACK       │     5 │
│      2015 │    2015 │ CA         │ %             │      17.1 │               11.9 │                23.9 │ ALC1_1     │ CRDPREV         │ NH_B_ASIAN       │     6 │
│      2019 │    2019 │ VA         │ %             │      16.1 │               12.0 │                21.3 │ ALC1_1     │ CRDPREV         │ NH_B_BLACK       │     7 │
│      2017 │    2017 │ VA         │ %             │      17.8 │               14.0 │                22.3 │ ALC1_1     │ CRDPREV         │ NH_B_BLACK       │     8 │
│      2015 │    2015 │ VA         │ %             │      17.5 │               14.4 │                21.1 │ ALC1_1     │ CRDPREV         │ NH_B_BLACK       │     9 │
│      2019 │    2019 │ HI         │ %             │      19.4 │               15.1 │                24.5 │ ALC1_1     │ CRDPREV         │ NH_B_WHITE       │    10 │
├───────────┴─────────┴────────────┴───────────────┴───────────┴────────────────────┴─────────────────────┴────────────┴─────────────────┴──────────────────┴───────┤
│ 10 rows                                                                                                                                                11 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [16]:
conn.sql("""
    -- Create a 2nd CTE that will join the necessary
    -- values from the dimension tables to the fact
    -- table
    WITH MergedCDI AS (
        SELECT
            c.LogID AS ID,
            c.YearStart AS YearStart, 
            c.YearEnd AS YearEnd, 
            cl.LocationDesc AS LocationDesc, 
            c.DataValueUnit AS DataValueUnit,
            c.DataValue AS DataValue,
            q.Question AS Question,
            q.AgeStart AS AgeStart,
            q.AgeEnd AS AgeEnd,
            dvt.DataValueType AS DataValueType,
            cs.Sex AS Sex,
            cs.Ethnicity AS Ethnicity,
            cs.Origin AS Origin
        FROM CDI c
        LEFT JOIN CDILocation cl
        ON c.LocationID = cl.LocationID
        LEFT JOIN Question q
        ON c.QuestionID = q.QuestionID
        LEFT JOIN DataValueType dvt
        ON c.DataValueTypeID = dvt.DataValueTypeID
        LEFT JOIN CDIStratification cs
        ON c.StratificationID = cs.StratificationID
        ORDER BY ID ASC
    )
    SELECT * FROM MergedCDI;
""")

┌───────┬───────────┬─────────┬────────────────┬───────────────┬───────────┬─────────────────────────────────────────────────────────────────────────────────────────┬──────────┬────────┬─────────────────────────┬─────────┬───────────┬──────────────┐
│  ID   │ YearStart │ YearEnd │  LocationDesc  │ DataValueUnit │ DataValue │                                        Question                                         │ AgeStart │ AgeEnd │      DataValueType      │   Sex   │ Ethnicity │    Origin    │
│ int32 │   int32   │  int32  │    varchar     │    varchar    │  double   │                                         varchar                                         │  double  │ double │         varchar         │ varchar │  varchar  │   varchar    │
├───────┼───────────┼─────────┼────────────────┼───────────────┼───────────┼─────────────────────────────────────────────────────────────────────────────────────────┼──────────┼────────┼─────────────────────────┼─────────┼───────────┼──────────────┤
│     1 │      2015 │    2015 │ Illinois       │ %             │      10.6 │ Alcohol use among youth                                                                 │     18.0 │   24.0 │ Crude Prevalence        │ Both    │ Asian     │ Not Hispanic │
│     2 │      2015 │    2015 │ Rhode Island   │ %             │      12.6 │ Alcohol use among youth                                                                 │     18.0 │   24.0 │ Crude Prevalence        │ Both    │ Asian     │ Not Hispanic │
│     3 │      2013 │    2013 │ Massachusetts  │ %             │      13.6 │ Alcohol use among youth                                                                 │     18.0 │   24.0 │ Crude Prevalence        │ Both    │ Asian     │ Not Hispanic │
│     4 │      2015 │    2015 │ Florida        │ %             │      16.0 │ Alcohol use among youth                                                                 │     18.0 │   24.0 │ Crude Prevalence        │ Both    │ Asian     │ Not Hispanic │
│     5 │      2017 │    2017 │ South Carolina │ %             │      15.6 │ Alcohol use among youth                                                                 │     18.0 │   24.0 │ Crude Prevalence        │ Both    │ Black     │ Not Hispanic │
│     6 │      2015 │    2015 │ California     │ %             │      17.1 │ Alcohol use among youth                                                                 │     18.0 │   24.0 │ Crude Prevalence        │ Both    │ Asian     │ Not Hispanic │
│     7 │      2019 │    2019 │ Virginia       │ %             │      16.1 │ Alcohol use among youth                                                                 │     18.0 │   24.0 │ Crude Prevalence        │ Both    │ Black     │ Not Hispanic │
│     8 │      2017 │    2017 │ Virginia       │ %             │      17.8 │ Alcohol use among youth                                                                 │     18.0 │   24.0 │ Crude Prevalence        │ Both    │ Black     │ Not Hispanic │
│     9 │      2015 │    2015 │ Virginia       │ %             │      17.5 │ Alcohol use among youth                                                                 │     18.0 │   24.0 │ Crude Prevalence        │ Both    │ Black     │ Not Hispanic │
│    10 │      2019 │    2019 │ Hawaii         │ %             │      19.4 │ Alcohol use among youth                                                                 │     18.0 │   24.0 │ Crude Prevalence        │ Both    │ White     │ Not Hispanic │
│     · │        ·  │      ·  │   ·            │ ·             │        ·  │            ·                                                                            │       ·  │     ·  │        ·                │  ·      │  ·        │  ·           │
│     · │        ·  │      ·  │   ·            │ ·             │        ·  │            ·                                                                            │       ·  │     ·  │        ·                │  ·      │  ·        │  ·           │
│     · │        ·  │      ·  │   ·            │ ·             │        ·  │            ·                                                                            │       ·  │     ·  │        ·                │  ·      │  ·        │  ·           │
│  9991 │      2017 │    2017 │ Illinois       │ %             │      85.5 │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │     65.0 │    inf │ Crude Prevalence        │ Both    │ All       │ Both         │
│  9992 │      2016 │    2016 │ Mississippi    │ %             │      87.3 │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │     65.0 │    inf │ Crude Prevalence        │ Both    │ White     │ Not Hispanic │
│  9993 │      2014 │    2014 │ Utah           │ %             │      83.7 │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │     65.0 │    inf │ Crude Prevalence        │ Both    │ White     │ Not Hispanic │
│  9994 │      2016 │    2016 │ Texas          │ %             │      85.7 │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │     65.0 │    inf │ Crude Prevalence        │ Both    │ All       │ Both         │
│  9995 │      2014 │    2014 │ Louisiana      │ %             │      86.4 │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │     65.0 │    inf │ Age-adjusted Prevalence │ Female  │ All       │ Both         │
│  9996 │      2019 │    2019 │ Colorado       │ %             │      87.2 │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │     65.0 │    inf │ Crude Prevalence        │ Male    │ All       │ Both         │
│  9997 │      2013 │    2013 │ Texas          │ %             │      85.8 │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │     65.0 │    inf │ Crude Prevalence        │ Female  │ All       │ Both         │
│  9998 │      2012 │    2012 │ Delaware       │ %             │      87.0 │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │     65.0 │    inf │ Crude Prevalence        │ Both    │ All       │ Both         │
│  9999 │      2013 │    2013 │ Florida        │ %             │      84.4 │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │     65.0 │    inf │ Age-adjusted Prevalence │ Female  │ All       │ Both         │
│ 10000 │      2019 │    2019 │ Arizona        │ %             │      84.7 │ Pneumococcal vaccination among noninstitutionalized adults aged >= 65 years with asthma │     65.0 │    inf │ Age-adjusted Prevalence │ Both    │ White     │ Not Hispanic │
├───────┴───────────┴─────────┴────────────────┴───────────────┴───────────┴─────────────────────────────────────────────────────────────────────────────────────────┴──────────┴────────┴─────────────────────────┴─────────┴───────────┴──────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                                                                              13 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [17]:
conn.sql("""
    -- joins necessary values to Population table 
    -- via primary keys of its dimension tables
    WITH MergedPopulation AS (
        SELECT
            ps.StateID,
            ps.State,
            p.Age,
            p.Year,
            s.Sex,
            s.Ethnicity,
            s.Origin,
            p.Population
        FROM Population p
        LEFT JOIN PopulationState ps
        ON p.StateID = ps.StateID
        LEFT JOIN Stratification s
        ON p.StratificationID = s.StratificationID
    )

    SELECT 
        StateID, 
        Sex, 
        Origin, 
        Ethnicity,
        Age, 
        Year
    FROM MergedPopulation
    WHERE (Sex = 'Male' OR Sex = 'Female') 
    AND (Origin = 'Hispanic' OR Origin = 'Not Hispanic') 
    AND (Ethnicity = 'White')
    AND (Age BETWEEN 0 AND 85)
    AND (State = 'Alabama')
    AND (Year = 2000)
""")

┌─────────┬─────────┬──────────────┬───────────┬───────┬───────┐
│ StateID │   Sex   │    Origin    │ Ethnicity │  Age  │ Year  │
│ varchar │ varchar │   varchar    │  varchar  │ float │ int32 │
├─────────┼─────────┼──────────────┼───────────┼───────┼───────┤
│ AL      │ Male    │ Not Hispanic │ White     │   0.0 │  2000 │
│ AL      │ Male    │ Not Hispanic │ White     │   1.0 │  2000 │
│ AL      │ Male    │ Not Hispanic │ White     │   2.0 │  2000 │
│ AL      │ Male    │ Not Hispanic │ White     │   3.0 │  2000 │
│ AL      │ Male    │ Not Hispanic │ White     │   4.0 │  2000 │
│ AL      │ Male    │ Not Hispanic │ White     │   5.0 │  2000 │
│ AL      │ Male    │ Not Hispanic │ White     │   6.0 │  2000 │
│ AL      │ Male    │ Not Hispanic │ White     │   7.0 │  2000 │
│ AL      │ Male    │ Not Hispanic │ White     │   8.0 │  2000 │
│ AL      │ Male    │ Not Hispanic │ White     │   9.0 │  2000 │
│ ·       │  ·      │    ·         │   ·       │    ·  │    ·  │
│ ·       │  ·      │    ·         │   ·       │    ·  │    ·  │
│ ·       │  ·      │    ·         │   ·       │    ·  │    ·  │
│ AL      │ Female  │ Hispanic     │ White     │  76.0 │  2000 │
│ AL      │ Female  │ Hispanic     │ White     │  77.0 │  2000 │
│ AL      │ Female  │ Hispanic     │ White     │  78.0 │  2000 │
│ AL      │ Female  │ Hispanic     │ White     │  79.0 │  2000 │
│ AL      │ Female  │ Hispanic     │ White     │  80.0 │  2000 │
│ AL      │ Female  │ Hispanic     │ White     │  81.0 │  2000 │
│ AL      │ Female  │ Hispanic     │ White     │  82.0 │  2000 │
│ AL      │ Female  │ Hispanic     │ White     │  83.0 │  2000 │
│ AL      │ Female  │ Hispanic     │ White     │  84.0 │  2000 │
│ AL      │ Female  │ Hispanic     │ White     │  85.0 │  2000 │
├─────────┴─────────┴──────────────┴───────────┴───────┴───────┤
│ 344 rows (20 shown)                                6 columns │
└──────────────────────────────────────────────────────────────┘

In [18]:
conn.sql("""
    -- Create a 2nd CTE that will join the necessary
    -- values from the dimension tables to the fact
    -- table
    WITH MergedCDI AS (
        SELECT
            c.LogID AS ID,
            c.YearStart AS YearStart, 
            c.YearEnd AS YearEnd, 
            cl.LocationDesc AS LocationDesc, 
            c.DataValueUnit AS DataValueUnit,
            c.DataValue AS DataValue,
            q.Question AS Question,
            q.AgeStart AS AgeStart,
            q.AgeEnd AS AgeEnd,
            dvt.DataValueType AS DataValueType,
            cs.Sex AS Sex,
            cs.Ethnicity AS Ethnicity,
            cs.Origin AS Origin
        FROM CDI c
        LEFT JOIN CDILocation cl
        ON c.LocationID = cl.LocationID
        LEFT JOIN Question q
        ON c.QuestionID = q.QuestionID
        LEFT JOIN DataValueType dvt
        ON c.DataValueTypeID = dvt.DataValueTypeID
        LEFT JOIN CDIStratification cs
        ON c.StratificationID = cs.StratificationID
    )

    -- groups the rows with the same YearStart, YearEnd, 
    -- LocationDesc, AgeStart, AgeEnd, Sex, Ethnicity, and Origin
    -- as this will simulate the rows taking on different values
    -- which we will need to dynamically aggregate the Population
    -- table
    SELECT 
        MAX(YearStart) AS YearStart, 
        MAX(YearEnd) AS YearEnd, 
        MAX(LocationDesc) AS LocationDesc, 
        MAX(AgeStart) AS AgeStart, 
        MAX(AgeEnd) AS AgeEnd, 
        MAX(Sex) AS Sex, 
        MAX(Ethnicity) AS Ethnicity, 
        MAX(Origin) AS Origin
    FROM MergedCDI
    GROUP BY (
        YearStart, 
        YearEnd, 
        LocationDesc, 
        AgeStart, 
        AgeEnd,
        Sex,
        Ethnicity,
        Origin
    )
""")

┌───────────┬─────────┬──────────────────────┬──────────┬────────┬─────────┬───────────┬──────────────┐
│ YearStart │ YearEnd │     LocationDesc     │ AgeStart │ AgeEnd │   Sex   │ Ethnicity │    Origin    │
│   int32   │  int32  │       varchar        │  double  │ double │ varchar │  varchar  │   varchar    │
├───────────┼─────────┼──────────────────────┼──────────┼────────┼─────────┼───────────┼──────────────┤
│      2011 │    2011 │ New Mexico           │     NULL │   NULL │ Both    │ White     │ Not Hispanic │
│      2018 │    2018 │ Michigan             │     NULL │   NULL │ Both    │ Black     │ Not Hispanic │
│      2016 │    2016 │ Texas                │     NULL │   NULL │ Male    │ All       │ Both         │
│      2011 │    2011 │ Iowa                 │     NULL │   NULL │ Male    │ All       │ Both         │
│      2020 │    2020 │ North Carolina       │     NULL │   NULL │ Male    │ All       │ Both         │
│      2011 │    2011 │ South Dakota         │     NULL │   NULL │ Male    │ All       │ Both         │
│      2015 │    2015 │ Wisconsin            │     NULL │   NULL │ Both    │ Black     │ Not Hispanic │
│      2012 │    2012 │ Missouri             │     NULL │   NULL │ Both    │ White     │ Not Hispanic │
│      2011 │    2011 │ Idaho                │     NULL │   NULL │ Both    │ AIAN      │ Not Hispanic │
│      2010 │    2010 │ Iowa                 │     NULL │   NULL │ Both    │ Black     │ Not Hispanic │
│        ·  │      ·  │  ·                   │       ·  │     ·  │  ·      │   ·       │      ·       │
│        ·  │      ·  │  ·                   │       ·  │     ·  │  ·      │   ·       │      ·       │
│        ·  │      ·  │  ·                   │       ·  │     ·  │  ·      │   ·       │      ·       │
│      2015 │    2015 │ District of Columbia │     18.0 │   24.0 │ Both    │ White     │ Not Hispanic │
│      2017 │    2017 │ Alaska               │     18.0 │   24.0 │ Both    │ All       │ Both         │
│      2014 │    2014 │ Alabama              │     14.0 │    inf │ Both    │ All       │ Both         │
│      2014 │    2014 │ North Carolina       │     14.0 │    inf │ Both    │ All       │ Both         │
│      2019 │    2019 │ Oregon               │     14.0 │    inf │ Both    │ All       │ Both         │
│      2012 │    2012 │ Texas                │     NULL │   NULL │ Both    │ All       │ Hispanic     │
│      2017 │    2017 │ North Dakota         │     18.0 │   64.0 │ Male    │ All       │ Both         │
│      2011 │    2015 │ Tennessee            │     NULL │   NULL │ Both    │ AIAN      │ Not Hispanic │
│      2010 │    2014 │ Idaho                │     NULL │   NULL │ Both    │ Black     │ Not Hispanic │
│      2008 │    2012 │ Vermont              │     NULL │   NULL │ Both    │ Black     │ Not Hispanic │
├───────────┴─────────┴──────────────────────┴──────────┴────────┴─────────┴───────────┴──────────────┤
│ ? rows (>9999 rows, 20 shown)                                                             8 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [19]:
conn.sql("""
    WITH MergedPopulation AS (
        SELECT 
            ps.State AS State,
            p.Age AS Age,
            p.Year AS Year,
            pstr.Sex AS Sex,
            pstr.Ethnicity AS Ethnicity,
            pstr.Origin AS Origin,
            p.Population AS Population
        FROM Population p
        LEFT JOIN PopulationState ps
        ON p.StateID = ps.StateID
        LEFT JOIN PopulationStratification pstr
        ON p.StratificationID = pstr.StratificationID
    )

    SELECT 
        Year, 
        SUM(Population) AS TotalPopulation
    FROM MergedPopulation
    WHERE (Year BETWEEN 2011 AND 2013) AND
    (Age BETWEEN 18 AND 85) AND
    State = 'Wyoming' AND
    Sex IN ('Male') AND
    Ethnicity IN ('White', 'Black', 'AIAN', 'Asian', 'NHPI', 'Multiracial') AND
    Origin IN ('Hispanic',)
    GROUP BY Year
    ORDER BY Year ASC
""")

┌───────┬─────────────────┐
│ Year  │ TotalPopulation │
│ int32 │     int128      │
├───────┼─────────────────┤
│  2011 │           17565 │
│  2012 │           18734 │
│  2013 │           19147 │
└───────┴─────────────────┘

I have loaded two fact tables CDI and Population and a couple dimension tables in DuckDB. I did joins on the CDI fact table and its respective dimension tables which yields a snippet of the table below CDI table merged

And below is the Population fact table merged with its other dimension tables yielding this snippet below Population table merged enter image description here

Now what I want to basically do is filter out the Population table based only on the values of this particular row of the CDI table. In this case the current row outlined in green will somehow do this query
```
SELECT Year, SUM(Population) AS TotalPopulation
FROM Population
WHERE (Year BETWEEN 2018 AND 2018) AND
(Age BETWEEN 18 AND 85) AND
State = 'Pennsylvania' AND
Sex IN ('Male', 'Female') AND
Ethnicity IN ('Multiracial') AND
Origin IN ('Not Hispanic')
GROUP BY Year
ORDER BY Year ASC
```

This query aggregates the Population column values based on the row values of the CDI table. What I'm just at a loss in trying to implement is doing this aggregation operation for all row values in the CDI table. Here is a full visualization of what I'm trying to do. enter image description here

How would I implement this type of varying filtering aggregation based on each row column values of the CDI table? I'm using DuckDB as the OLAP DB here so ANSI SQL is what I'm trying to use to implement this task. Could it be possible only using this kind of SQL?

In [20]:
conn.sql("""
    SELECT current_schema();
""")

┌──────────────────┐
│ current_schema() │
│     varchar      │
├──────────────────┤
│ main             │
└──────────────────┘

In [21]:
conn.sql("""
    SELECT * FROM duckdb_columns();
""")

┌─────────────────────────────┬──────────────┬─────────────┬────────────┬────────────────────┬───────────┬─────────────────────┬──────────────┬─────────┬──────────┬────────────────┬─────────────┬───────────┬──────────────┬──────────────────────────┬───────────────────┬─────────────────────────┬───────────────┐
│        database_name        │ database_oid │ schema_name │ schema_oid │     table_name     │ table_oid │     column_name     │ column_index │ comment │ internal │ column_default │ is_nullable │ data_type │ data_type_id │ character_maximum_length │ numeric_precision │ numeric_precision_radix │ numeric_scale │
│           varchar           │    int64     │   varchar   │   int64    │      varchar       │   int64   │       varchar       │    int32     │ varchar │ boolean  │    varchar     │   boolean   │  varchar  │    int64     │          int32           │       int32       │          int32          │     int32     │
├─────────────────────────────┼──────────────┼─────────────┼────────────┼────────────────────┼───────────┼─────────────────────┼──────────────┼─────────┼──────────┼────────────────┼─────────────┼───────────┼──────────────┼──────────────────────────┼───────────────────┼─────────────────────────┼───────────────┤
│ chronic_disease_analyses_db │          772 │ main        │       2390 │ CDI                │      2391 │ YearStart           │            1 │ NULL    │ false    │ NULL           │ true        │ INTEGER   │           13 │                     NULL │                32 │                       2 │             0 │
│ chronic_disease_analyses_db │          772 │ main        │       2390 │ CDI                │      2391 │ YearEnd             │            2 │ NULL    │ false    │ NULL           │ true        │ INTEGER   │           13 │                     NULL │                32 │                       2 │             0 │
│ chronic_disease_analyses_db │          772 │ main        │       2390 │ CDI                │      2391 │ LocationID          │            3 │ NULL    │ false    │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
│ chronic_disease_analyses_db │          772 │ main        │       2390 │ CDI                │      2391 │ DataValueUnit       │            4 │ NULL    │ false    │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
│ chronic_disease_analyses_db │          772 │ main        │       2390 │ CDI                │      2391 │ DataValue           │            5 │ NULL    │ false    │ NULL           │ true        │ DOUBLE    │           23 │                     NULL │                53 │                       2 │             0 │
│ chronic_disease_analyses_db │          772 │ main        │       2390 │ CDI                │      2391 │ LowConfidenceLimit  │            6 │ NULL    │ false    │ NULL           │ true        │ DOUBLE    │           23 │                     NULL │                53 │                       2 │             0 │
│ chronic_disease_analyses_db │          772 │ main        │       2390 │ CDI                │      2391 │ HighConfidenceLimit │            7 │ NULL    │ false    │ NULL           │ true        │ DOUBLE    │           23 │                     NULL │                53 │                       2 │             0 │
│ chronic_disease_analyses_db │          772 │ main        │       2390 │ CDI                │      2391 │ QuestionID          │            8 │ NULL    │ false    │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
│ chronic_disease_analyses_db │          772 │ main        │       2390 │ CDI                │      2391 │ DataValueTypeID     │            9 │ NULL    │ false    │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
│ chronic_disease_analyses_db │          772 │ main        │       2390 │ CDI                │      2391 │ StratificationID    │           10 │ NULL    │ false    │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
│  ·                          │           ·  │  ·          │         ·  │  ·                 │        ·  │  ·                  │            · │  ·      │  ·       │  ·             │  ·          │    ·      │            · │                       ·  │                ·  │                      ·  │            ·  │
│  ·                          │           ·  │  ·          │         ·  │  ·                 │        ·  │  ·                  │            · │  ·      │  ·       │  ·             │  ·          │    ·      │            · │                       ·  │                ·  │                      ·  │            ·  │
│  ·                          │           ·  │  ·          │         ·  │  ·                 │        ·  │  ·                  │            · │  ·      │  ·       │  ·             │  ·          │    ·      │            · │                       ·  │                ·  │                      ·  │            ·  │
│ temp                        │         2318 │ main        │       2319 │ sqlite_temp_master │      3016 │ type                │            1 │ NULL    │ true     │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
│ temp                        │         2318 │ main        │       2319 │ sqlite_temp_master │      3016 │ name                │            2 │ NULL    │ true     │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
│ temp                        │         2318 │ main        │       2319 │ sqlite_temp_master │      3016 │ tbl_name            │            3 │ NULL    │ true     │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
│ temp                        │         2318 │ main        │       2319 │ sqlite_temp_master │      3016 │ rootpage            │            4 │ NULL    │ true     │ NULL           │ true        │ INTEGER   │           13 │                     NULL │                32 │                       2 │             0 │
│ temp                        │         2318 │ main        │       2319 │ sqlite_temp_master │      3016 │ sql                 │            5 │ NULL    │ true     │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
│ temp                        │         2318 │ main        │       2319 │ sqlite_temp_schema │      3017 │ type                │            1 │ NULL    │ true     │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
│ temp                        │         2318 │ main        │       2319 │ sqlite_temp_schema │      3017 │ name                │            2 │ NULL    │ true     │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
│ temp                        │         2318 │ main        │       2319 │ sqlite_temp_schema │      3017 │ tbl_name            │            3 │ NULL    │ true     │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
│ temp                        │         2318 │ main        │       2319 │ sqlite_temp_schema │      3017 │ rootpage            │            4 │ NULL    │ true     │ NULL           │ true        │ INTEGER   │           13 │                     NULL │                32 │                       2 │             0 │
│ temp                        │         2318 │ main        │       2319 │ sqlite_temp_schema │      3017 │ sql                 │            5 │ NULL    │ true     │ NULL           │ true        │ VARCHAR   │           25 │                     NULL │              NULL │                    NULL │          NULL │
├─────────────────────────────┴──────────────┴─────────────┴────────────┴────────────────────┴───────────┴─────────────────────┴──────────────┴─────────┴──────────┴────────────────┴─────────────┴───────────┴──────────────┴──────────────────────────┴───────────────────┴─────────────────────────┴───────────────┤
│ 1864 rows (20 shown)                                                                                                                                                                                                                                                                                     18 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [22]:
conn.sql("""
    SELECT * FROM Stratification
""")

┌─────────┬─────────────┬──────────────┬──────────────────┐
│   Sex   │  Ethnicity  │    Origin    │ StratificationID │
│ varchar │   varchar   │   varchar    │     varchar      │
├─────────┼─────────────┼──────────────┼──────────────────┤
│ Both    │ Black       │ Not Hispanic │ NH_B_BLACK       │
│ Both    │ NHPI        │ Not Hispanic │ NH_B_NHPI        │
│ Both    │ Multiracial │ Not Hispanic │ NH_B_MULTI       │
│ Both    │ Other       │ Not Hispanic │ NH_B_OTHER       │
│ Female  │ Other       │ Hispanic     │ H_F_OTHER        │
│ Female  │ Other       │ Not Hispanic │ NH_F_OTHER       │
│ Both    │ All         │ Both         │ B_B_ALL          │
│ Male    │ Black       │ Hispanic     │ H_M_BLACK        │
│ Male    │ Multiracial │ Not Hispanic │ NH_M_MULTI       │
│ Male    │ White       │ Hispanic     │ H_M_WHITE        │
│  ·      │   ·         │    ·         │     ·            │
│  ·      │   ·         │    ·         │     ·            │
│  ·      │   ·         │    ·         │     ·            │
│ Male    │ Multiracial │ Hispanic     │ H_M_MULTI        │
│ Male    │ NHPI        │ Hispanic     │ H_M_NHPI         │
│ Both    │ AIAN        │ Not Hispanic │ NH_B_AIAN        │
│ Female  │ Multiracial │ Hispanic     │ H_F_MULTI        │
│ Both    │ All         │ Hispanic     │ H_B_ALL          │
│ Female  │ Black       │ Not Hispanic │ NH_F_BLACK       │
│ Female  │ NHPI        │ Not Hispanic │ NH_F_NHPI        │
│ Female  │ White       │ Not Hispanic │ NH_F_WHITE       │
│ Female  │ Black       │ Hispanic     │ H_F_BLACK        │
│ Male    │ Asian       │ Not Hispanic │ NH_M_ASIAN       │
├─────────┴─────────────┴──────────────┴──────────────────┤
│ 39 rows (20 shown)                            4 columns │
└─────────────────────────────────────────────────────────┘

In [38]:
conn.sql("""
    -- Creates a CTE that will join the necessary
    -- values from the dimension tables to the fact
    -- table
    WITH MergedCDI AS (
        SELECT
            c.LogID,
            c.DataValueUnit,
            c.DataValue,
            c.YearStart, 
            c.YearEnd,
            cl.LocationID,
            cl.LocationDesc, 
            q.QuestionID,
            q.AgeStart,
            q.AgeEnd,
            dvt.DataValueTypeID,
            dvt.DataValueType,
            s.StratificationID,
            s.Sex,
            s.Ethnicity,
            s.Origin
        FROM CDI c
        LEFT JOIN CDILocation cl
        ON c.LocationID = cl.LocationID
        LEFT JOIN Question q
        ON c.QuestionID = q.QuestionID
        LEFT JOIN DataValueType dvt
        ON c.DataValueTypeID = dvt.DataValueTypeID
        LEFT JOIN Stratification s
        ON c.StratificationID = s.StratificationID
    ),

    -- joins necessary values to Population table 
    -- via primary keys of its dimension tables
    MergedPopulation AS (
        SELECT
            ps.StateID,
            ps.State,
            p.Age,
            p.Year,
            s.Sex,
            s.Ethnicity,
            s.Origin,
            p.Population
        FROM Population p
        LEFT JOIN PopulationState ps
        ON p.StateID = ps.StateID
        LEFT JOIN Stratification s
        ON p.StratificationID = s.StratificationID
    ),

    -- this is just a sample variable
    LeftTable AS (
        SELECT *
        FROM MergedCDI
        WHERE AgeStart IS NULL AND AgeEnd IS NULL 
        LIMIT 1
    )

    SELECT 
        lt.LogID,
        lt.YearStart, 
        lt.YearEnd,  
        lt.LocationDesc, 
        lt.AgeStart, 
        lt.AgeEnd, 
        lt.Sex, 
        lt.Ethnicity, 
        lt.Origin,
        mp.Population,
        mp.State,
        mp.Age,
        mp.Year,
        mp.Sex,
        mp.Ethnicity,
        mp.Origin
    FROM MergedPopulation mp
    INNER JOIN LeftTable lt
    ON (mp.Year BETWEEN lt.YearStart AND lt.YearEnd) AND
    (mp.State = lt.LocationDesc) AND
    ((mp.Age BETWEEN lt.AgeStart AND (CASE WHEN lt.AgeEnd = 'infinity' THEN 85 ELSE lt.AgeEnd END)) OR (lt.AgeStart IS NULL AND lt.AgeEnd IS NULL)) AND
    (mp.Sex = lt.Sex OR lt.Sex = 'Both') AND
    (mp.Ethnicity = lt.Ethnicity OR lt.Ethnicity = 'All') AND
    (mp.Origin = lt.Origin OR lt.Origin = 'Both')
    ORDER BY lt.LogID ASC
""")

┌───────┬───────────┬─────────┬──────────────┬──────────┬────────┬─────────┬───────────┬──────────────┬────────────┬──────────┬───────┬───────┬─────────┬───────────┬──────────────┐
│ LogID │ YearStart │ YearEnd │ LocationDesc │ AgeStart │ AgeEnd │   Sex   │ Ethnicity │    Origin    │ Population │  State   │  Age  │ Year  │   Sex   │ Ethnicity │    Origin    │
│ int32 │   int32   │  int32  │   varchar    │  double  │ double │ varchar │  varchar  │   varchar    │   int64    │ varchar  │ float │ int32 │ varchar │  varchar  │   varchar    │
├───────┼───────────┼─────────┼──────────────┼──────────┼────────┼─────────┼───────────┼──────────────┼────────────┼──────────┼───────┼───────┼─────────┼───────────┼──────────────┤
│    81 │      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         21 │ Maryland │   3.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│    81 │      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         25 │ Maryland │   1.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│    81 │      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         18 │ Maryland │   4.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│    81 │      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         22 │ Maryland │   7.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│    81 │      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         29 │ Maryland │   5.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│    81 │      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         16 │ Maryland │   8.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│    81 │      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         19 │ Maryland │   9.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│    81 │      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         27 │ Maryland │  10.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│    81 │      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         16 │ Maryland │  11.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│    81 │      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         17 │ Maryland │  12.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│     · │        ·  │      ·  │    ·         │       ·  │     ·  │  ·      │  ·        │      ·       │          · │    ·     │    ·  │    ·  │  ·      │  ·        │      ·       │
│     · │        ·  │      ·  │    ·         │       ·  │     ·  │  ·      │  ·        │      ·       │          · │    ·     │    ·  │    ·  │  ·      │  ·        │      ·       │
│     · │        ·  │      ·  │    ·         │       ·  │     ·  │  ·      │  ·        │      ·       │          · │    ·     │    ·  │    ·  │  ·      │  ·        │      ·       │
│    81 │      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │          7 │ Maryland │  83.0 │  2018 │ Female  │ NHPI      │ Not Hispanic │
│    81 │      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │          2 │ Maryland │  84.0 │  2018 │ Female  │ NHPI      │ Not Hispanic │
│    81 │      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         28 │ Maryland │  85.0 │  2018 │ Female  │ NHPI      │ Not Hispanic │
│    81 │      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         26 │ Maryland │  40.0 │  2018 │ Female  │ NHPI      │ Not Hispanic │
│    81 │      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         14 │ Maryland │  62.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│    81 │      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         33 │ Maryland │  30.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│    81 │      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │          8 │ Maryland │  14.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│    81 │      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         21 │ Maryland │   6.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│    81 │      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         25 │ Maryland │   2.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│    81 │      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         22 │ Maryland │   0.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
├───────┴───────────┴─────────┴──────────────┴──────────┴────────┴─────────┴───────────┴──────────────┴────────────┴──────────┴───────┴───────┴─────────┴───────────┴──────────────┤
│ 172 rows (20 shown)                                                                                                                                                   16 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
conn.sql("""
  -- Create a 2nd CTE that will join the necessary
  -- values from the dimension tables to the fact
  -- table
  WITH MergedCDI AS (
    SELECT
      c.LogID AS ID,
      c.YearStart AS YearStart, 
      c.YearEnd AS YearEnd, 
      cl.LocationDesc AS LocationDesc, 
      c.DataValueUnit AS DataValueUnit,
      c.DataValue AS DataValue,
      q.Question AS Question,
      q.AgeStart AS AgeStart,
      q.AgeEnd AS AgeEnd,
      dvt.DataValueType AS DataValueType,
      cs.Sex AS Sex,
      cs.Ethnicity AS Ethnicity,
      cs.Origin AS Origin
    FROM CDI c
    LEFT JOIN CDILocation cl
    ON c.LocationID = cl.LocationID
    LEFT JOIN Question q
    ON c.QuestionID = q.QuestionID
    LEFT JOIN DataValueType dvt
    ON c.DataValueTypeID = dvt.DataValueTypeID
    LEFT JOIN CDIStratification cs
    ON c.StratificationID = cs.StratificationID
  ),
      
  LeftTable AS (
    SELECT *
    FROM MergedCDI
    WHERE AgeStart IS NULL AND AgeEnd IS NULL 
    LIMIT 1
  ),

  MergedPopulation AS (
    SELECT 
      ps.State AS State,
      p.Age AS Age,
      p.Year AS Year,
      pstr.Sex AS Sex,
      pstr.Ethnicity AS Ethnicity,
      pstr.Origin AS Origin,
      p.Population AS Population
    FROM Population p
    LEFT JOIN PopulationState ps
    ON p.StateID = ps.StateID
    LEFT JOIN PopulationStratification pstr
    ON p.StratificationID = pstr.StratificationID
  )

  SELECT 
    lt.YearStart, 
    lt.YearEnd,  
    lt.LocationDesc, 
    lt.AgeStart, 
    lt.AgeEnd, 
    lt.Sex, 
    lt.Ethnicity, 
    lt.Origin,
    mp.Population,
    mp.State,
    mp.Age,
    mp.Year,
    mp.Sex,
    mp.Ethnicity,
    mp.Origin
  FROM MergedPopulation mp
  INNER JOIN LeftTable lt
  ON (mp.Year BETWEEN lt.YearStart AND lt.YearEnd) AND
  (mp.State = lt.LocationDesc) AND
  ((mp.Age BETWEEN lt.AgeStart AND (CASE WHEN lt.AgeEnd = 'infinity' THEN 85 ELSE lt.AgeEnd END)) OR (lt.AgeStart IS NULL AND lt.AgeEnd IS NULL)) AND
  (mp.Sex = lt.Sex OR lt.Sex = 'Both') AND
  (mp.Ethnicity = lt.Ethnicity OR lt.Ethnicity = 'All') AND
  (mp.Origin = lt.Origin OR lt.Origin = 'Both')
""")

┌───────────┬─────────┬──────────────┬──────────┬────────┬─────────┬───────────┬──────────────┬────────────┬──────────┬───────┬───────┬─────────┬───────────┬──────────────┐
│ YearStart │ YearEnd │ LocationDesc │ AgeStart │ AgeEnd │   Sex   │ Ethnicity │    Origin    │ Population │  State   │  Age  │ Year  │   Sex   │ Ethnicity │    Origin    │
│   int32   │  int32  │   varchar    │  double  │ double │ varchar │  varchar  │   varchar    │   int64    │ varchar  │ float │ int32 │ varchar │  varchar  │   varchar    │
├───────────┼─────────┼──────────────┼──────────┼────────┼─────────┼───────────┼──────────────┼────────────┼──────────┼───────┼───────┼─────────┼───────────┼──────────────┤
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         22 │ Maryland │   0.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         25 │ Maryland │   1.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         25 │ Maryland │   2.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         21 │ Maryland │   3.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         18 │ Maryland │   4.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         29 │ Maryland │   5.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         21 │ Maryland │   6.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         22 │ Maryland │   7.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         16 │ Maryland │   8.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         19 │ Maryland │   9.0 │  2018 │ Male    │ NHPI      │ Not Hispanic │
│        ·  │      ·  │    ·         │       ·  │     ·  │  ·      │  ·        │      ·       │          · │    ·     │    ·  │    ·  │  ·      │  ·        │      ·       │
│        ·  │      ·  │    ·         │       ·  │     ·  │  ·      │  ·        │      ·       │          · │    ·     │    ·  │    ·  │  ·      │  ·        │      ·       │
│        ·  │      ·  │    ·         │       ·  │     ·  │  ·      │  ·        │      ·       │          · │    ·     │    ·  │    ·  │  ·      │  ·        │      ·       │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │          5 │ Maryland │  76.0 │  2018 │ Female  │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │          3 │ Maryland │  77.0 │  2018 │ Female  │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │          6 │ Maryland │  78.0 │  2018 │ Female  │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │          2 │ Maryland │  79.0 │  2018 │ Female  │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │          6 │ Maryland │  80.0 │  2018 │ Female  │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │          5 │ Maryland │  81.0 │  2018 │ Female  │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │          3 │ Maryland │  82.0 │  2018 │ Female  │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │          7 │ Maryland │  83.0 │  2018 │ Female  │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │          2 │ Maryland │  84.0 │  2018 │ Female  │ NHPI      │ Not Hispanic │
│      2018 │    2018 │ Maryland     │     NULL │   NULL │ Both    │ NHPI      │ Not Hispanic │         28 │ Maryland │  85.0 │  2018 │ Female  │ NHPI      │ Not Hispanic │
├───────────┴─────────┴──────────────┴──────────┴────────┴─────────┴───────────┴──────────────┴────────────┴──────────┴───────┴───────┴─────────┴───────────┴──────────────┤
│ 172 rows (20 shown)                                                                                                                                           15 columns │
└──────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [ ]:
conn.sql("""
    -- Creates a CTE that will join the necessary
    -- values from the dimension tables to the fact
    -- table
    WITH MergedCDI AS (
        SELECT
            c.LogID,
            c.DataValueUnit,
            c.DataValue,
            c.YearStart, 
            c.YearEnd,
            cl.LocationID,
            cl.LocationDesc, 
            q.QuestionID,
            q.AgeStart,
            q.AgeEnd,
            dvt.DataValueTypeID,
            dvt.DataValueType,
            s.StratificationID,
            s.Sex,
            s.Ethnicity,
            s.Origin
        FROM CDI c
        LEFT JOIN CDILocation cl
        ON c.LocationID = cl.LocationID
        LEFT JOIN Question q
        ON c.QuestionID = q.QuestionID
        LEFT JOIN DataValueType dvt
        ON c.DataValueTypeID = dvt.DataValueTypeID
        LEFT JOIN Stratification s
        ON c.StratificationID = s.StratificationID
    ),

    -- joins necessary values to Population table 
    -- via primary keys of its dimension tables
    MergedPopulation AS (
        SELECT
            ps.StateID,
            ps.State,
            p.Age,
            p.Year,
            s.Sex,
            s.Ethnicity,
            s.Origin,
            p.Population
        FROM Population p
        LEFT JOIN PopulationState ps
        ON p.StateID = ps.StateID
        LEFT JOIN Stratification s
        ON p.StratificationID = s.StratificationID
    ),


    LeftTable AS (
        SELECT *
        FROM MergedCDI
        WHERE AgeStart IS NULL AND AgeEnd IS NULL 
        LIMIT 1
    ),

    -- performs an inner join on both CDI and Population
    -- tables based
    CDIWithPop AS (
        SELECT 
            mcdi.LogID AS LogID,
            mcdi.DataValueUnit AS DataValueUnit,
            mcdi.DataValue AS DataValue,
            mcdi.YearStart AS YearStart, 
            mcdi.YearEnd AS YearEnd,
            mcdi.LocationID AS LocationID,
            mcdi.LocationDesc AS LocationDesc, 
            mcdi.QuestionID as QuestionID,
            mcdi.AgeStart AS AgeStart,
            mcdi.AgeEnd AS AgeEnd,
            mcdi.DataValueTypeID AS DataValueTypeID,
            mcdi.DataValueType AS DataValueType,
            mcdi.StratificationID AS StratificationID,
            mcdi.Sex AS Sex,
            mcdi.Ethnicity AS Ethnicity,
            mcdi.Origin AS Origin,
        
            mp.Population,
            mp.State PState,
            mp.Age AS PAge,
            mp.Year AS PYear,
            mp.Sex AS PSex,
            mp.Ethnicity AS PEthnicity,
            mp.Origin AS POrigin
        FROM MergedPopulation mp
        INNER JOIN LeftTable mcdi
        ON (mp.Year BETWEEN mcdi.YearStart AND mcdi.YearEnd) AND
        (mp.StateID = mcdi.LocationID) AND
        ((mp.Age BETWEEN mcdi.AgeStart AND (CASE WHEN mcdi.AgeEnd = 'infinity' THEN 85 ELSE mcdi.AgeEnd END)) OR (mcdi.AgeStart IS NULL AND mcdi.AgeEnd IS NULL)) AND
        (mp.Sex = mcdi.Sex OR mcdi.Sex = 'Both') AND
        (mp.Ethnicity = mcdi.Ethnicity OR mcdi.Ethnicity = 'All') AND
        (mp.Origin = mcdi.Origin OR mcdi.Origin = 'Both')
    )

    SELECT * FROM CDIWithPop
""")

┌───────┬───────────────┬───────────┬───────────┬─────────┬────────────┬──────────────┬────────────┬──────────┬────────┬─────────────────┬──────────────────┬──────────────────┬─────────┬───────────┬──────────────┬────────────┬──────────┬───────┬───────┬─────────┬────────────┬──────────────┐
│ LogID │ DataValueUnit │ DataValue │ YearStart │ YearEnd │ LocationID │ LocationDesc │ QuestionID │ AgeStart │ AgeEnd │ DataValueTypeID │  DataValueType   │ StratificationID │   Sex   │ Ethnicity │    Origin    │ Population │  PState  │ PAge  │ PYear │  PSex   │ PEthnicity │   POrigin    │
│ int32 │    varchar    │  double   │   int32   │  int32  │  varchar   │   varchar    │  varchar   │  double  │ double │     varchar     │     varchar      │     varchar      │ varchar │  varchar  │   varchar    │   int64    │ varchar  │ float │ int32 │ varchar │  varchar   │   varchar    │
├───────┼───────────────┼───────────┼───────────┼─────────┼────────────┼──────────────┼────────────┼──────────┼────────┼─────────────────┼──────────────────┼──────────────────┼─────────┼───────────┼──────────────┼────────────┼──────────┼───────┼───────┼─────────┼────────────┼──────────────┤
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │         22 │ Maryland │   0.0 │  2018 │ Male    │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │         25 │ Maryland │   1.0 │  2018 │ Male    │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │         25 │ Maryland │   2.0 │  2018 │ Male    │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │         21 │ Maryland │   3.0 │  2018 │ Male    │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │         18 │ Maryland │   4.0 │  2018 │ Male    │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │         29 │ Maryland │   5.0 │  2018 │ Male    │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │         21 │ Maryland │   6.0 │  2018 │ Male    │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │         22 │ Maryland │   7.0 │  2018 │ Male    │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │         16 │ Maryland │   8.0 │  2018 │ Male    │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │         19 │ Maryland │   9.0 │  2018 │ Male    │ NHPI       │ Not Hispanic │
│     · │ ·             │        ·  │        ·  │      ·  │ ·          │    ·         │   ·        │       ·  │     ·  │    ·            │        ·         │     ·            │  ·      │  ·        │      ·       │          · │    ·     │    ·  │    ·  │  ·      │  ·         │      ·       │
│     · │ ·             │        ·  │        ·  │      ·  │ ·          │    ·         │   ·        │       ·  │     ·  │    ·            │        ·         │     ·            │  ·      │  ·        │      ·       │          · │    ·     │    ·  │    ·  │  ·      │  ·         │      ·       │
│     · │ ·             │        ·  │        ·  │      ·  │ ·          │    ·         │   ·        │       ·  │     ·  │    ·            │        ·         │     ·            │  ·      │  ·        │      ·       │          · │    ·     │    ·  │    ·  │  ·      │  ·         │      ·       │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │          5 │ Maryland │  76.0 │  2018 │ Female  │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │          3 │ Maryland │  77.0 │  2018 │ Female  │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │          6 │ Maryland │  78.0 │  2018 │ Female  │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │          2 │ Maryland │  79.0 │  2018 │ Female  │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │          6 │ Maryland │  80.0 │  2018 │ Female  │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │          5 │ Maryland │  81.0 │  2018 │ Female  │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │          3 │ Maryland │  82.0 │  2018 │ Female  │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │          7 │ Maryland │  83.0 │  2018 │ Female  │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │          2 │ Maryland │  84.0 │  2018 │ Female  │ NHPI       │ Not Hispanic │
│    81 │ %             │      15.2 │      2018 │    2018 │ MD         │ Maryland     │ ALC1_2     │     NULL │   NULL │ CRDPREV         │ Crude Prevalence │ NH_B_NHPI        │ Both    │ NHPI      │ Not Hispanic │         28 │ Maryland │  85.0 │  2018 │ Female  │ NHPI       │ Not Hispanic │
├───────┴───────────────┴───────────┴───────────┴─────────┴────────────┴──────────────┴────────────┴──────────┴────────┴─────────────────┴──────────────────┴──────────────────┴─────────┴───────────┴──────────────┴────────────┴──────────┴───────┴───────┴─────────┴────────────┴──────────────┤
│ 172 rows (20 shown)                                                                                                                                                                                                                                                                  23 columns │
└─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

# The following query will be query to the full join

In [49]:
conn.sql("""
    -- Creates a CTE that will join the necessary
    -- values from the dimension tables to the fact
    -- table
    WITH MergedCDI AS (
        SELECT
            c.LogID,
            c.DataValueUnit,
            c.DataValue,
            c.YearStart, 
            c.YearEnd,
            cl.LocationID,
            cl.LocationDesc, 
            q.QuestionID,
            q.AgeStart,
            q.AgeEnd,
            dvt.DataValueTypeID,
            dvt.DataValueType,
            s.StratificationID,
            s.Sex,
            s.Ethnicity,
            s.Origin
        FROM CDI c
        LEFT JOIN CDILocation cl
        ON c.LocationID = cl.LocationID
        LEFT JOIN Question q
        ON c.QuestionID = q.QuestionID
        LEFT JOIN DataValueType dvt
        ON c.DataValueTypeID = dvt.DataValueTypeID
        LEFT JOIN Stratification s
        ON c.StratificationID = s.StratificationID
    ),

    -- joins necessary values to Population table 
    -- via primary keys of its dimension tables
    MergedPopulation AS (
        SELECT
            ps.StateID,
            ps.State,
            p.Age,
            p.Year,
            s.Sex,
            s.Ethnicity,
            s.Origin,
            p.Population
        FROM Population p
        LEFT JOIN PopulationState ps
        ON p.StateID = ps.StateID
        LEFT JOIN Stratification s
        ON p.StratificationID = s.StratificationID
    ),


    LeftTable AS (
        SELECT *
        FROM MergedCDI
        WHERE AgeStart IS NULL AND AgeEnd IS NULL 
        LIMIT 1
    ),

    -- performs an inner join on both CDI and Population
    -- tables based
    CDIWithPop AS (
        SELECT 
            mcdi.LogID AS LogID,
            mcdi.DataValueUnit AS DataValueUnit,
            mcdi.DataValue AS DataValue,
            mcdi.YearStart AS YearStart, 
            mcdi.YearEnd AS YearEnd,
            mcdi.LocationID AS LocationID,
            mcdi.LocationDesc AS LocationDesc, 
            mcdi.QuestionID as QuestionID,
            mcdi.AgeStart AS AgeStart,
            mcdi.AgeEnd AS AgeEnd,
            mcdi.DataValueTypeID AS DataValueTypeID,
            mcdi.DataValueType AS DataValueType,
            mcdi.StratificationID AS StratificationID,
            mcdi.Sex AS Sex,
            mcdi.Ethnicity AS Ethnicity,
            mcdi.Origin AS Origin,
        
            mp.Population,
            mp.State PState,
            mp.Age AS PAge,
            mp.Year AS PYear,
            mp.Sex AS PSex,
            mp.Ethnicity AS PEthnicity,
            mp.Origin AS POrigin
        FROM MergedPopulation mp
        INNER JOIN MergedCDI mcdi
        ON (mp.Year BETWEEN mcdi.YearStart AND mcdi.YearEnd) AND
        (mp.StateID = mcdi.LocationID) AND
        ((mp.Age BETWEEN mcdi.AgeStart AND (CASE WHEN mcdi.AgeEnd = 'infinity' THEN 85 ELSE mcdi.AgeEnd END)) OR (mcdi.AgeStart IS NULL AND mcdi.AgeEnd IS NULL)) AND
        (mp.Sex = mcdi.Sex OR mcdi.Sex = 'Both') AND
        (mp.Ethnicity = mcdi.Ethnicity OR mcdi.Ethnicity = 'All') AND
        (mp.Origin = mcdi.Origin OR mcdi.Origin = 'Both')
    )

    SELECT 
      LogID,
      SUM(Population) AS TotalPopulation
    FROM CDIWithPop
    GROUP BY LogID
    ORDER BY LogID
""")

┌───────┬─────────────────┐
│ LogID │ TotalPopulation │
│ int32 │     int128      │
├───────┼─────────────────┤
│     1 │           67510 │
│     2 │            5939 │
│     3 │           51277 │
│     4 │           50628 │
│     5 │          144434 │
│     6 │          481644 │
│     7 │          165930 │
│     8 │          172065 │
│     9 │          178905 │
│    10 │           25075 │
│     · │             ·   │
│     · │             ·   │
│     · │             ·   │
│  9991 │         2037516 │
│  9992 │          321693 │
│  9993 │          268620 │
│  9994 │         3496103 │
│  9995 │          376642 │
│  9996 │          406092 │
│  9997 │         1731126 │
│  9998 │          147772 │
│  9999 │         2103647 │
│ 10000 │         1037268 │
├───────┴─────────────────┤
│ ? rows        2 columns │
└─────────────────────────┘

In [50]:
conn.sql("""
    -- Creates a CTE that will join the necessary
    -- values from the dimension tables to the fact
    -- table
    WITH MergedCDI AS (
        SELECT
            c.LogID,
            c.DataValueUnit,
            c.DataValue,
            c.YearStart, 
            c.YearEnd,
            cl.LocationID,
            cl.LocationDesc, 
            q.QuestionID,
            q.AgeStart,
            q.AgeEnd,
            dvt.DataValueTypeID,
            dvt.DataValueType,
            s.StratificationID,
            s.Sex,
            s.Ethnicity,
            s.Origin
        FROM CDI c
        LEFT JOIN CDILocation cl
        ON c.LocationID = cl.LocationID
        LEFT JOIN Question q
        ON c.QuestionID = q.QuestionID
        LEFT JOIN DataValueType dvt
        ON c.DataValueTypeID = dvt.DataValueTypeID
        LEFT JOIN Stratification s
        ON c.StratificationID = s.StratificationID
    ),

    -- joins necessary values to Population table 
    -- via primary keys of its dimension tables
    MergedPopulation AS (
        SELECT
            ps.StateID,
            ps.State,
            p.Age,
            p.Year,
            s.Sex,
            s.Ethnicity,
            s.Origin,
            p.Population
        FROM Population p
        LEFT JOIN PopulationState ps
        ON p.StateID = ps.StateID
        LEFT JOIN Stratification s
        ON p.StratificationID = s.StratificationID
    ),


    LeftTable AS (
        SELECT *
        FROM MergedCDI
        WHERE AgeStart IS NULL AND AgeEnd IS NULL 
        LIMIT 1
    ),

    -- performs an inner join on both CDI and Population
    -- tables based
    CDIWithPop AS (
        SELECT 
            mcdi.LogID AS LogID,
            mcdi.DataValueUnit AS DataValueUnit,
            mcdi.DataValue AS DataValue,
            mcdi.YearStart AS YearStart, 
            mcdi.YearEnd AS YearEnd,
            mcdi.LocationID AS LocationID,
            mcdi.LocationDesc AS LocationDesc, 
            mcdi.QuestionID as QuestionID,
            mcdi.AgeStart AS AgeStart,
            mcdi.AgeEnd AS AgeEnd,
            mcdi.DataValueTypeID AS DataValueTypeID,
            mcdi.DataValueType AS DataValueType,
            mcdi.StratificationID AS StratificationID,
            mcdi.Sex AS Sex,
            mcdi.Ethnicity AS Ethnicity,
            mcdi.Origin AS Origin,
        
            mp.Population,
            mp.State PState,
            mp.Age AS PAge,
            mp.Year AS PYear,
            mp.Sex AS PSex,
            mp.Ethnicity AS PEthnicity,
            mp.Origin AS POrigin
        FROM MergedPopulation mp
        INNER JOIN MergedCDI mcdi
        ON (mp.Year BETWEEN mcdi.YearStart AND mcdi.YearEnd) AND
        (mp.StateID = mcdi.LocationID) AND
        ((mp.Age BETWEEN mcdi.AgeStart AND (CASE WHEN mcdi.AgeEnd = 'infinity' THEN 85 ELSE mcdi.AgeEnd END)) OR (mcdi.AgeStart IS NULL AND mcdi.AgeEnd IS NULL)) AND
        (mp.Sex = mcdi.Sex OR mcdi.Sex = 'Both') AND
        (mp.Ethnicity = mcdi.Ethnicity OR mcdi.Ethnicity = 'All') AND
        (mp.Origin = mcdi.Origin OR mcdi.Origin = 'Both')
    )

    SELECT COUNT(*) FROM CDIWithPop
""")

┌──────────────┐
│ count_star() │
│    int64     │
├──────────────┤
│    784737296 │
└──────────────┘

#### confirming below that those with logid `<n>` before group by would yield the same total population based on stratification, state, yearstart, yearend, agestart, ageend

In [59]:
cdi_log_id_1 = conn.sql("""
    -- Creates a CTE that will join the necessary
    -- values from the dimension tables to the fact
    -- table
    WITH MergedCDI AS (
        SELECT
            c.LogID,
            c.DataValueUnit,
            c.DataValue,
            c.YearStart, 
            c.YearEnd,
            cl.LocationID,
            cl.LocationDesc, 
            q.QuestionID,
            q.AgeStart,
            q.AgeEnd,
            dvt.DataValueTypeID,
            dvt.DataValueType,
            s.StratificationID,
            s.Sex,
            s.Ethnicity,
            s.Origin
        FROM CDI c
        LEFT JOIN CDILocation cl
        ON c.LocationID = cl.LocationID
        LEFT JOIN Question q
        ON c.QuestionID = q.QuestionID
        LEFT JOIN DataValueType dvt
        ON c.DataValueTypeID = dvt.DataValueTypeID
        LEFT JOIN Stratification s
        ON c.StratificationID = s.StratificationID
    ),

    -- joins necessary values to Population table 
    -- via primary keys of its dimension tables
    MergedPopulation AS (
        SELECT
            ps.StateID,
            ps.State,
            p.Age,
            p.Year,
            s.Sex,
            s.Ethnicity,
            s.Origin,
            p.Population
        FROM Population p
        LEFT JOIN PopulationState ps
        ON p.StateID = ps.StateID
        LEFT JOIN Stratification s
        ON p.StratificationID = s.StratificationID
    ),


    LeftTable AS (
        SELECT *
        FROM MergedCDI
        WHERE AgeStart IS NULL AND AgeEnd IS NULL 
        LIMIT 1
    ),

    -- performs an inner join on both CDI and Population
    -- tables based
    CDIWithPop AS (
        SELECT 
            mcdi.LogID AS LogID,
            mcdi.DataValueUnit AS DataValueUnit,
            mcdi.DataValue AS DataValue,
            mcdi.YearStart AS YearStart, 
            mcdi.YearEnd AS YearEnd,
            mcdi.LocationID AS LocationID,
            mcdi.LocationDesc AS LocationDesc, 
            mcdi.QuestionID as QuestionID,
            mcdi.AgeStart AS AgeStart,
            mcdi.AgeEnd AS AgeEnd,
            mcdi.DataValueTypeID AS DataValueTypeID,
            mcdi.DataValueType AS DataValueType,
            mcdi.StratificationID AS StratificationID,
            mcdi.Sex AS Sex,
            mcdi.Ethnicity AS Ethnicity,
            mcdi.Origin AS Origin,
        
            mp.Population,
            mp.State PState,
            mp.Age AS PAge,
            mp.Year AS PYear,
            mp.Sex AS PSex,
            mp.Ethnicity AS PEthnicity,
            mp.Origin AS POrigin
        FROM MergedPopulation mp
        INNER JOIN MergedCDI mcdi
        ON (mp.Year BETWEEN mcdi.YearStart AND mcdi.YearEnd) AND
        (mp.StateID = mcdi.LocationID) AND
        ((mp.Age BETWEEN mcdi.AgeStart AND (CASE WHEN mcdi.AgeEnd = 'infinity' THEN 85 ELSE mcdi.AgeEnd END)) OR (mcdi.AgeStart IS NULL AND mcdi.AgeEnd IS NULL)) AND
        (mp.Sex = mcdi.Sex OR mcdi.Sex = 'Both') AND
        (mp.Ethnicity = mcdi.Ethnicity OR mcdi.Ethnicity = 'All') AND
        (mp.Origin = mcdi.Origin OR mcdi.Origin = 'Both')
    )

    SELECT *
    FROM CDIWithPop
    WHERE LogID = 82
""").fetchall()

In [60]:
log_id, _, _, year_start, year_end, loc_id, loc_desc, question_id, age_start, age_end, dvt_id, dvt, strat_id, sex, ethnicity, origin, population, state_desc, age, year, _, _, _ = zip(*cdi_log_id_1)

In [70]:
age_start[-1]

In [66]:
population

(5,
 5,
 4,
 5,
 5,
 5,
 3,
 0,
 3,
 1,
 0,
 1,
 0,
 0,
 2,
 1,
 3,
 3,
 1,
 2,
 4,
 3,
 4,
 4,
 1,
 2,
 4,
 3,
 9,
 4,
 7,
 2,
 1,
 2,
 0,
 3,
 3,
 4,
 1,
 1,
 1,
 3,
 0,
 4,
 3,
 2,
 2,
 2,
 0,
 2,
 2,
 1,
 1,
 1,
 1,
 1,
 2,
 1,
 2,
 3,
 3,
 2,
 0,
 2,
 3,
 1,
 1,
 1,
 1,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 3,
 5,
 5,
 4,
 2,
 4,
 3,
 4,
 2,
 1,
 1,
 1,
 3,
 4,
 4,
 0,
 2,
 0,
 0,
 3,
 1,
 0,
 4,
 2,
 7,
 2,
 0,
 7,
 3,
 3,
 2,
 1,
 5,
 2,
 1,
 3,
 3,
 4,
 1,
 1,
 1,
 1,
 5,
 2,
 2,
 2,
 3,
 6,
 1,
 0,
 1,
 2,
 2,
 5,
 1,
 1,
 1,
 3,
 5,
 3,
 3,
 1,
 3,
 4,
 0,
 1,
 1,
 0,
 4,
 1,
 1,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 2,
 1,
 3)

In [71]:
loc_desc[-1]

'Delaware'

In [72]:
strat_id[-1]

'NH_B_NHPI'

In [63]:
age

(0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0)

In [76]:
year_start[-1], year_end[-1]

(2016, 2016)

In [65]:
sum(population)

339

#### confirmed that total population of those with id 1 is the same as the table that has been grouped

# full join, now with aggregation of necessary rows according to their agestart, ageend, yearstart, yearend, ethnicity, sex, state, origin,

In [27]:
total_population = conn.sql("""
    -- Creates a CTE that will join the necessary
    -- values from the dimension tables to the fact
    -- table
    WITH MergedCDI AS (
        SELECT
            c.LogID,
            c.DataValueUnit,
            c.DataValue,
            c.YearStart, 
            c.YearEnd,
            cl.LocationID,
            cl.LocationDesc, 
            q.QuestionID,
            q.AgeStart,
            q.AgeEnd,
            dvt.DataValueTypeID,
            dvt.DataValueType,
            s.StratificationID,
            s.Sex,
            s.Ethnicity,
            s.Origin
        FROM CDI c
        LEFT JOIN CDILocation cl
        ON c.LocationID = cl.LocationID
        LEFT JOIN Question q
        ON c.QuestionID = q.QuestionID
        LEFT JOIN DataValueType dvt
        ON c.DataValueTypeID = dvt.DataValueTypeID
        LEFT JOIN Stratification s
        ON c.StratificationID = s.StratificationID
    ),

    -- joins necessary values to Population table 
    -- via primary keys of its dimension tables
    MergedPopulation AS (
        SELECT
            ps.StateID,
            ps.State,
            p.Age,
            p.Year,
            s.Sex,
            s.Ethnicity,
            s.Origin,
            p.Population
        FROM Population p
        LEFT JOIN PopulationState ps
        ON p.StateID = ps.StateID
        LEFT JOIN Stratification s
        ON p.StratificationID = s.StratificationID
    ),


    LeftTable AS (
        SELECT *
        FROM MergedCDI
        WHERE AgeStart IS NULL AND AgeEnd IS NULL 
        LIMIT 1
    ),

    -- performs an inner join on both CDI and Population
    -- tables based
    CDIWithPop AS (
        SELECT 
            mcdi.LogID AS LogID,
            mcdi.DataValueUnit AS DataValueUnit,
            mcdi.DataValue AS DataValue,
            mcdi.YearStart AS YearStart, 
            mcdi.YearEnd AS YearEnd,
            mcdi.LocationID AS LocationID,
            mcdi.LocationDesc AS LocationDesc, 
            mcdi.QuestionID as QuestionID,
            mcdi.AgeStart AS AgeStart,
            mcdi.AgeEnd AS AgeEnd,
            mcdi.DataValueTypeID AS DataValueTypeID,
            mcdi.DataValueType AS DataValueType,
            mcdi.StratificationID AS StratificationID,
            mcdi.Sex AS Sex,
            mcdi.Ethnicity AS Ethnicity,
            mcdi.Origin AS Origin,
        
            mp.Population,
            mp.State PState,
            mp.Age AS PAge,
            mp.Year AS PYear,
            mp.Sex AS PSex,
            mp.Ethnicity AS PEthnicity,
            mp.Origin AS POrigin
        FROM MergedPopulation mp
        INNER JOIN MergedCDI mcdi
        ON (mp.Year BETWEEN mcdi.YearStart AND mcdi.YearEnd) AND
        (mp.StateID = mcdi.LocationID) AND
        ((mp.Age BETWEEN mcdi.AgeStart AND (CASE WHEN mcdi.AgeEnd = 'infinity' THEN 85 ELSE mcdi.AgeEnd END)) OR (mcdi.AgeStart IS NULL AND mcdi.AgeEnd IS NULL)) AND
        (mp.Sex = mcdi.Sex OR mcdi.Sex = 'Both') AND
        (mp.Ethnicity = mcdi.Ethnicity OR mcdi.Ethnicity = 'All') AND
        (mp.Origin = mcdi.Origin OR mcdi.Origin = 'Both')
    )

    SELECT 
        LogID,
        SUM(Population) AS TotalPopulation
    FROM CDIWithPop
    GROUP BY LogID
    ORDER BY LogID ASC
""").fetchall()

In [28]:
log_id, total_population_count = zip(*total_population)
log_id[0], log_id[-1]

(1, 678471)

In [29]:
len(log_id)

678471

In [30]:
missing_ids = list(set(range(1, log_id[-1] + 1)) - set(log_id))
missing_ids

[]

In [31]:
len(missing_ids)

0

In [32]:
conn.sql(f"""
    -- Creates a CTE that will join the necessary
    -- values from the dimension tables to the fact
    -- table
    WITH MergedCDI AS (
        SELECT
            c.LogID,
            c.DataValueUnit,
            c.DataValue,
            c.YearStart, 
            c.YearEnd,
            cl.LocationID,
            cl.LocationDesc, 
            q.QuestionID,
            q.AgeStart,
            q.AgeEnd,
            dvt.DataValueTypeID,
            dvt.DataValueType,
            s.StratificationID,
            s.Sex,
            s.Ethnicity,
            s.Origin
        FROM CDI c
        LEFT JOIN CDILocation cl
        ON c.LocationID = cl.LocationID
        LEFT JOIN Question q
        ON c.QuestionID = q.QuestionID
        LEFT JOIN DataValueType dvt
        ON c.DataValueTypeID = dvt.DataValueTypeID
        LEFT JOIN Stratification s
        ON c.StratificationID = s.StratificationID
    )
         
    SELECT *
    FROM MergedCDI
    WHERE LogID IN {missing_ids}
""")

┌───────┬───────────────┬───────────┬───────────┬─────────┬────────────┬──────────────┬────────────┬──────────┬────────┬─────────────────┬───────────────┬──────────────────┬─────────┬───────────┬─────────┐
│ LogID │ DataValueUnit │ DataValue │ YearStart │ YearEnd │ LocationID │ LocationDesc │ QuestionID │ AgeStart │ AgeEnd │ DataValueTypeID │ DataValueType │ StratificationID │   Sex   │ Ethnicity │ Origin  │
│ int32 │    varchar    │  double   │   int32   │  int32  │  varchar   │   varchar    │  varchar   │  double  │ double │     varchar     │    varchar    │     varchar      │ varchar │  varchar  │ varchar │
├───────┴───────────────┴───────────┴───────────┴─────────┴────────────┴──────────────┴────────────┴──────────┴────────┴─────────────────┴───────────────┴──────────────────┴─────────┴───────────┴─────────┤
│                                                                                                  0 rows                                                                                                   │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [33]:
conn.sql(f"""
    -- Creates a CTE that will join the necessary
    -- values from the dimension tables to the fact
    -- table
    WITH MergedCDI AS (
        SELECT
            c.LogID,
            c.DataValueUnit,
            c.DataValue,
            c.YearStart, 
            c.YearEnd,
            cl.LocationID,
            cl.LocationDesc, 
            q.QuestionID,
            q.AgeStart,
            q.AgeEnd,
            dvt.DataValueTypeID,
            dvt.DataValueType,
            s.StratificationID,
            s.Sex,
            s.Ethnicity,
            s.Origin
        FROM CDI c
        LEFT JOIN CDILocation cl
        ON c.LocationID = cl.LocationID
        LEFT JOIN Question q
        ON c.QuestionID = q.QuestionID
        LEFT JOIN DataValueType dvt
        ON c.DataValueTypeID = dvt.DataValueTypeID
        LEFT JOIN Stratification s
        ON c.StratificationID = s.StratificationID
    )
         
    SELECT DISTINCT(Ethnicity)
    FROM MergedCDI
    WHERE LogID IN {missing_ids}
""")

┌───────────┐
│ Ethnicity │
│  varchar  │
├───────────┤
│  0 rows   │
└───────────┘

In [81]:
# conn.close()